[site]
latitude = -32.724000
longitude = 152.130167
track_interval_seconds = 2.0
track_tolerance_degrees = 0.10
slow_speed = 20
slow_threshold_degrees = 3.0

[antenna:East]
port = /dev/ttyUSB0
baud = 9600
open_delay = 5
gui_speed = 40

# Calibration offsets are written by the GUI calibration button.
az_offset = 0.000000
el_offset = 0.000000

# Azimuth limit supports wrap-around. 270..265 means allowed range is
# 270->360 plus 0->265.
az_min = 270.000
az_max = 265.000
el_min = 0.000
el_max = 87.000
az_margin = 0.500
el_margin = 0.500
max_jog_seconds = 60.000
poll_interval = 0.200

[antenna:West]
port = /dev/ttyUSB1
baud = 9600
open_delay = 5
gui_speed = 40
az_offset = 0.000000
el_offset = 0.000000
az_min = 270.000
az_max = 265.000
el_min = 0.000
el_max = 87.000
az_margin = 0.500
el_margin = 0.500
max_jog_seconds = 60.000
poll_interval = 0.200
